@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.editor {
  display: flex;
}

.editor__right {
  display: flex;
  flex-direction: column;
  /* flex: 0.8; */
  width: 87vw;
  /* padding: 20px 30px; */
}

.editor__top {
  /* background-color: yellow; */
  padding: 20px 30px;
}

.editor__topHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.editor__bottom {
  margin-top: 50px;
  border-top: 1px solid rgb(228, 228, 228);
}

.editor__bottomTable {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.tabname {
  color: #ff4079;
  font-weight: 600;
}

.table_button {
  color: #adadad;
  cursor: pointer;
  font-weight: 600;
}

.table_button:active {
  color: #8d8d8d;
}
