@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.sidebar {
  flex: 0.2;
  background-color: #ffeaf0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
